.container {
  width: 800px;
  padding: 5px;
}

.container p {
  opacity: 0.5;
  text-align: left;
  transition: 0.3s;
}

.container p span {
  font-size: 12px;
  color: darkgrey;
  margin-left: 45px;
}

.fa_times {
  opacity: 0;
}

.fa_check {
  opacity: 1;
}

.container p .icon {
  position: absolute;
  text-align: left;
  width: 22px;
  height: 22px;
  padding: 3px;
  line-height: 10px;
  font-size: 10px;
  border-radius: 50%;
  color: indianred;
  border: 2px solid lightslategrey;
}

.container #show_hide {
  color: indianred;
  font-size: 22px;
  transform: translateX(260px) translateY(-34px);
  cursor: pointer;
}
