.tabPanel {
  background-color: rgba(248, 247, 247, 0.699);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  margin: 30px;
  border-radius: 5px 5px 0px 0px !important;
  max-width: 950px;
}
.tabHead {
  background-color: #c9fef6;
  border-radius: 5px 5px 0px 0px !important;
}

.tabColor {
  /* color: white !important; */
  letter-spacing: 1px !important;
  font-weight: 200px !important;
}
